# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.vs/
vNAAATS/Debug/
vNAAATS/vNAAATS/Debug/
Release/
VatsimNAAATS/Debug/vc140.pdb
VatsimNAAATS/Debug/vc140.idb
VatsimNAAATS/Debug/VatsimNAAATS.tlog/VatsimNAAATS.write.1u.tlog
VatsimNAAATS/Debug/VatsimNAAATS.tlog/VatsimNAAATS.lastbuildstate
VatsimNAAATS/Debug/VatsimNAAATS.tlog/rc.write.1.tlog
VatsimNAAATS/Debug/VatsimNAAATS.tlog/rc.read.1.tlog
VatsimNAAATS/Debug/VatsimNAAATS.tlog/rc.command.1.tlog
VatsimNAAATS/Debug/VatsimNAAATS.tlog/link.write.1.tlog
VatsimNAAATS/Debug/VatsimNAAATS.tlog/link.read.1.tlog
VatsimNAAATS/Debug/VatsimNAAATS.tlog/link.command.1.tlog
VatsimNAAATS/Debug/VatsimNAAATS.tlog/CL.write.1.tlog
VatsimNAAATS/Debug/VatsimNAAATS.tlog/CL.read.1.tlog
VatsimNAAATS/Debug/VatsimNAAATS.tlog/CL.command.1.tlog
VatsimNAAATS/Debug/VatsimNAAATS.res
VatsimNAAATS/Debug/VatsimNAAATS.pdb
VatsimNAAATS/Debug/VatsimNAAATS.log
VatsimNAAATS/Debug/VatsimNAAATS.ilk
VatsimNAAATS/Debug/VatsimNAAATS.exp
VatsimNAAATS/Debug/vNAAATS.log
