# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.vs/
VatsimNAAATS/Debug/
Release
VatsimNAAATS/enc_temp_folder/ce668a47c6fbff60567139a9c568b66/RadarDisplay.cpp
VatsimNAAATS/ApiSettings.h
*.vcxproj
VatsimNAAATS/VatsimNAAATS.vcxproj
VatsimNAAATS/Keys.h
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/vNAAATS.write.1u.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/vNAAATS.lastbuildstate
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/rc.write.1.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/rc.read.1.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/rc.command.1.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/link.write.1.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/link.read.1.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/link.command.1.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/CL.write.1.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/CL.read.1.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.tlog/CL.command.1.tlog
vNAAATS/vNAAATS/Debug/vNAAATS.res
vNAAATS/vNAAATS/Debug/vNAAATS.log
vNAAATS/vNAAATS/Debug/vc140.pdb
vNAAATS/vNAAATS/Debug/vc140.idb
vNAAATS/Debug/vNAAATS.pdb
vNAAATS/Debug/vNAAATS.ilk
vNAAATS/Debug/vNAAATS.exp
